/*---------
    RESET
----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------
  CLEARFIX
----------*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*---------
    TYP0
----------*/
body{
    font-family: 'Open Sans', sans-serif;
}

.main-title{
    font-size: 4.5em;
}

.second-title, .business-title, .clients-title, .freetrial-title{
    font-size: 2.5em;
}

.plan-titlem, h3, .faq-title{
    font-size: 1.5em;
}

h5{
    font-size: 1em;
}

/*---------
   COMMONS
----------*/
.container-large{
    max-width: 1300px;
    margin: auto;   
}

.container{
    max-width: 1080px;
    margin: auto;
}

/*---------
  BUTTONS
----------*/
.btn{
    padding: 8px 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.btn-blue{
    background-color: #0061ff;
    color: #fff;
}

.btn-white{
    background-color: white;
    border: 1px solid black;
}

.noborder{
    border: none;
}

.btn-large{
    padding: 8px 60px;
}

/*---------
   HEADER
----------*/
header{
    padding: 25px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
header nav, header li{
    display: inline-block
}

header img, header li{
    vertical-align: middle;
    margin-right: 15px;
}

header li a{
    text-decoration: none;
    color: inherit;
    padding: 20px 5px;
}

.header-right, .header-left{
    width: calc(50% - 4px);
    display: inline-block;
}

.header-right{
    text-align: right;
}

/*---------
   HER0
----------*/
.hero{
    margin-top: 81px;
    background-color: #b4d0e7;
}

.hero_col-left{
    width: 35%;
    float: left;
    padding-right: 100px;
    padding-top: 75px;
}
.hero_col-right{
    width: 65%;
    float: left;
    position: relative;
    bottom: -75px;
}

.hero-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-title{
    padding-top: 50px;
}

.hero button{
    margin: 30px 0 10px 0;
}

.fa-arrow-down{
    font-size: 40px;
    margin: 50px 0 75px 0;
}

/*-----------------------
  FIND YOUR DROPBOX PLAN
------------------------*/
.drop-plan{
    margin: 150px 0 100px 0;
}

.drop-plan h2{
    margin-bottom: 60px;
}

.plan-col{
    width: calc(100% / 3 - 30px);
    border: 1px solid #d0d0d3;
    float: left; 
    min-height: 1000px;
}

.plan-col.center{
    margin: 0 45px;
}

.billing-choice{
    margin-bottom: 40px;
}

.plan-type{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d3;
}

.plan-description{
    padding: 30px 35px;
}

.plan-title{
    margin-bottom: 20px;
}

.plan-specs {
    margin: 50px 0 30px 0;
}

.plan-specs > div{
    padding-bottom: 20px;
}

.plan-description button{
    margin-bottom: 30px;
}

.divider{
    margin: 30px 0;
    width: 25%;
}

.plan-description li{
    list-style: none;
    margin-top: 10px;
}

.plan-description .fa-check,.plan-description a, .link {
    color: #0061ff;
}

.plan-description small{
    color: #637381;
}

.plan-col_bottom{
    border: 1px solid #d0d0d3;
    margin-top: 50px;
}

.col_bottom-button, .col_bottom-title{
    display: inline-block;
    width: calc(50% - 4px);
}

.col_bottom-button{
    text-align: right;
}

.col_bottom-button button{
    margin-bottom: 0;
}
.plan-col_bottom h4{
    margin-bottom: 20px;
}

/*---------
   PARTNER
----------*/
.partner_col-left{
    width: 55%;
    float: left;
    object-fit: contain;
}

.partner_col-right{
    width: 45%;
    float: left;
    padding: 50px;
}

.partner_col-left img{
   object-fit: contain;
}

.partner_col-right p{
    margin: 30px 0;
}

/*---------
   BUSINESS
----------*/

.business-col{
    width: calc(100% / 3 - 30px);
    float: left;
    margin-bottom: 60px;
}

.business-col.center{
    margin: 0 45px;
}

.business-title{
    margin-bottom: 60px;
}

.business-img{
    width: 100%;
}

.underline{
    text-decoration: underline;
}

.business-col h3{
    margin-bottom: 20px;
}

.drop-business{
    margin: 100px 0 100px 0;
}

/*------------------
   DROPBOX CLIENTS
------------------*/
.logo-container{
    margin-top: 50px;
}
.clients-title{
    margin-bottom: 20px;
}

.clients-col-left, .clients-col-right{
    width: 30vw;
    float: left;
}

.clients-col-center{
    width: calc(100% - 60vw);
    background-color: #f5f5f5;
    float: left;
    padding: 40px;
    overflow-y: auto;
}

.clients-col-left, .clients-col-right, .clients-col-center{
   height: 30vw; 
}

.clients-box{
    width: 50%;
    height: 15vw;
    position: relative;
    float: left;
}

.clients-box img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit{
    background-color: #a2d39b;
}

.asu{
    background-color: #61082b;
}

.uf{
    background-color: #0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.wbr{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.loneleyplanet{
    background-color: #0d2481; 
}

.clearchannel{
    background-color: #ffd830;
}

.current-team-logo img{
    width: 30%;
}

.divider2{
    margin: 30px 0;
    width: 10%;
}

.author{
    margin-top: 4vw;
}

/*--------------------
   DROPBOX FREE-TRIAL
---------------------*/
.drop-freetrial{
    background-color: #b4d0e7;
    padding: 100px 0;
}

.trial-title, .trial-button{
    width: calc(100% / 2 - 4px);
    display: inline-block;
}

.trial-button{
    text-align: right;
    vertical-align: top;
}

.freetrial-title{
    color: #61082b;
}

/*--------------
   DROPBOX FAQ
--------------*/
.drop-faq{
    padding: 100px 0;
}

.fa-chevron-down{
    text-align: right;
    margin-right: 20px;
}

.drop-faq h5, .fa-chevron-down{
    display: inline-block;
    width: calc(100% / 2 - 24px);
}

.faq-title{
    padding-bottom: 50px;
}

.faq-box, .faq-title{
    border-bottom: 1px solid #637381;
}

.faq-box{
    padding: 30px 0;
}

/*---------
   FOOTER
----------*/
footer{
    background-color: black;
}
.footer-col{
    width: calc(100% / 5);
    float: left;
}

.footer-top, footer a{
    color: white;
}

.footer-col ul{
    list-style: none;
}

footer li a{
    text-decoration: none;
}

footer li a, .footer-bottom{
    font-size: 12px;
}

.footer-top{
    padding: 100px 0;
}

footer h5{
    margin-bottom: 20px;
}

.footer-bottom{
    color: #999999;
}

footer hr{
    width: 5%;
    color: #bfbfbf;
}

.language-select{
    padding: 40px 0;
}