/*---------
    RESET
----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------
  CLEARFIX
----------*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*---------
    TYP0
----------*/
body{
    font-family: 'Open Sans', sans-serif;
}

.main-title{
    font-size: 4.5em;
}

.second-title, .business-title{
    font-size: 2.5em;
}

.plan-titlem, h3{
    font-size: 1.5em;
}

/*---------
   COMMONS
----------*/
.container-large{
    max-width: 1300px;
    margin: auto;   
}

.container{
    max-width: 1080px;
    margin: auto;
}

/*---------
  BUTTONS
----------*/
.btn{
    padding: 8px 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.btn-blue{
    background-color: #0061ff;
    color: #fff;
}

.btn-white{
    background-color: white;
    border: 1px solid black;
}

/*---------
   HEADER
----------*/
header{
    padding: 25px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
header nav, header li{
    display: inline-block
}

header img, header li{
    vertical-align: middle;
    margin-right: 15px;
}

li a{
    text-decoration: none;
    color: inherit;
    padding: 20px 5px;
}

.header-right, .header-left{
    width: calc(50% - 4px);
    display: inline-block;
}

.header-right{
    text-align: right;
}

/*---------
   HER0
----------*/
.hero{
    margin-top: 81px;
    background-color: #b4d0e7;
}

.hero_col-left{
    width: 35%;
    float: left;
    padding-right: 100px;
    padding-top: 75px;
}
.hero_col-right{
    width: 65%;
    float: left;
    position: relative;
    bottom: -75px;
}

.hero-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-title{
    padding-top: 50px;
}

.hero button{
    margin: 30px 0 10px 0;
}

.fa-arrow-down{
    font-size: 40px;
    margin: 50px 0 75px 0;
}

/*-----------------------
  FIND YOUR DROPBOX PLAN
------------------------*/
.drop-plan{
    margin: 150px 0 100px 0;
}

.drop-plan h2{
    margin-bottom: 60px;
}

.plan-col{
    width: calc(100% / 3 - 30px);
    border: 1px solid #d0d0d3;
    float: left; 
    min-height: 1000px;
}

.plan-col.center{
    margin: 0 45px;
}

.billing-choice{
    margin-bottom: 40px;
}

.plan-type{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d3;
}

.plan-description{
    padding: 30px 35px;
}

.plan-title{
    margin-bottom: 20px;
}

.plan-specs {
    margin: 50px 0 30px 0;
}

.plan-specs > div{
    padding-bottom: 20px;
}

.plan-description button{
    margin-bottom: 30px;
}

.divider{
    margin: 30px 0;
    width: 25%;
}

.plan-description li{
    list-style: none;
    margin-top: 10px;
}

.plan-description .fa-check,.plan-description a {
    color: #0061ff;
}

.plan-description small{
    color: #637381;
}

.plan-col_bottom{
    border: 1px solid #d0d0d3;
    margin-top: 50px;
}

.col_bottom-button, .col_bottom-title{
    display: inline-block;
    width: calc(50% - 4px);
}

.col_bottom-button{
    text-align: right;
}

.col_bottom-button button{
    margin-bottom: 0;
}
.plan-col_bottom h4{
    margin-bottom: 20px;
}

/*---------
   PARTNER
----------*/
.partner_col-left{
    width: 55%;
    float: left;
    object-fit: contain;
}

.partner_col-right{
    width: 45%;
    float: left;
    padding: 50px;
}

.partner_col-left img{
   object-fit: contain;
}

.partner_col-right p{
    margin: 30px 0;
}

.business-col{
    width: calc(100% / 3 - 30px);
    float: left;
    margin-bottom: 60px;
}

.business-col.center{
    margin: 0 45px;
}

.business-title{
    margin: 100px 0 60px 0;
}

.business-img{
    width: 100%;
}

.underline{
    text-decoration: underline;
}

.business-col h3{
    margin-bottom: 20px;
}

